<%= form_for [@question, @question.answers.new], remote: true do |f| %>
<div class="form-group">
<%= f.text_area :content, placeholder: 'Insert content answer in here' %>
<%= f.hidden_field :admin_id, :value => current_admin.id %>
</div>
<%= f.submit 'Post answer', class: 'btn btn-primary' %>
<div class="answer-error"></div>
<% end %>